<!-- bottom_nav.ejs
Hafshan Hameem
300888990
October 5, 2023
-->
 <footer>
      <nav class="navbar fixed-bottom navbar-dark bg-dark">
   
    <h6 class="display-6 navbar-text">&copy;2023 All rights reserved to Hafshan Hameem</h6>
    </div>
    </nav>
  

      </footer>