<!-- index.ejs
Hafshan Hameem
300888990
October 5, 2023
-->
<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>
   

<main class="container">
  <link rel="stylesheet" type="text/css" href="Content/style.css">
  <div class="container-fluid">
    <h2>Welcome to Haffy's Design!</h2>
  </div>
  <p class="homePageQuote">Consider <br>
  Shape<br>
  Influence<br>
  Shine
  <br>
  <br>
  
  <h4>Have a look at the services Haffy's Design offers</h4>
  
  <div class="srvBtn">
   <a class="btn btn-outline-primary btn-lg" href="/services" role="button">My services</a>
  </div>

    <!--bottom nav-->
   
   
      <!--script section-->
      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>
   