<!-- services.ejs
Hafshan Hameem
300888990
October 5, 2023
-->
<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>
   

<main class="container">
  <link rel="stylesheet" type="text/css" href="Content/style.css">
  <div class="container-fluid">     
  </div>
  <h2>Services</h2>
<br>
<br>
<div class="card-group">
<div class="card">
  <img src="img/webDesign.jpeg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Web Design</h5> 
  </div>
</div>
<br><br>
<div class="card">
  <img src="img/ProgPic.jpeg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Web Developement</h5>
  </div>
</div>
<br><br>
<div class="card">
  <img src="img/mobileApps.jpeg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Mobile Apps</h5>
  </div>
</div>
</div>


</main>
    <!--bottom nav-->
   
   
      <!--script section-->
      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>
   